body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    height:100%;

	overflow-x:hidden; 


}


.container {
    max-width:  1200px;
    margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: auto;
  height: 831px;
  left: 0;
  right: 0;
	

}

.intro-title {
  
    
    color: #fff;
    font-size: 96px;
       font-weight: 700;

    line-height: 1;
    
}

.intro-sup {
    
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.3;




color: #FFF;
}

.intro-line {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}



.header {
   padding-top: 26.5px;
    width: 100%;
   position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header-logo {
font-size: 30px;
    font-weight: 700;
    color: #fff;
	
}


.nam {
    color: #fff;
    text-decoration: none;
   
}




.nav {
 font-size: 20px;
}


.nav-link {
 
  

    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
     position: relative;
    color: #fff;
    text-decoration: none;
    
    
    transition: color .1s linear;
}



.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #fff;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
     
    transition: color .1s linear;
}

.nav-link:hover:after {
      display: block;
 opacity: 1;
    
}


/*.btn{
display: inline-block;
 vertical-align: top;
    padding: 5px 20px;
    
  
 background: #fff;
    border-radius: 10px;
    
  font-weight: 400;
font-size: 17px;
    color: #1B1F2B;
    text-decoration: none;
    width: 118px;
height: 34px;



background: #FFF;
border-radius: 10px;



}*/

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;

    background: #fff;
        border-radius: 10px;
    line-height: 150%;
     width: 109px;
height: 29px;
   
    font-weight: 400;
font-size: 17px;
color: #1B1F2B;
    text-decoration: none;
    margin: 20px auto;
    
    
     /*transition: background .1s linear, color .1s linear;*/
}

 

/*btn:hover {

background-color: #EFA501;
    color: #1B1F2B;
}*/

.section{
    
    padding: 135px 0;
}

.section-header{
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	margin-top: 830px;
	text-align: center;
		
}


.section-title{
font-weight: 700;
font-size: 59px;
line-height: 124%;
	color: #1B1F2B;

}


.section-nav{
 font-size: 20px;
}


.section-nav-link{
 display: inline-block;
    vertical-align: top;
    margin: 20px;
     position: relative;
    color: #1B1F2B;
    text-decoration: none;
    
    transition: color .1s linear;

}



.section-nav-link:after{

content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color:  #EFA501;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
     
    transition: color .1s linear;
}


.section-nav-link:hover{
	
	color: #EFA501;
	
	 transition: color .1s linear;

}

.section-nav-link:hover:after{

    display: block;
 opacity: 1;

}


.card{
/* overflow: hidden;
	display: flex;
	align-content: center;
	justify-content:center;
width: 1170px;
height: 1092px;
	border: 3px solid gray;*/
	
margin-top: 100px;
	display: flex;
	align-content: center;
	justify-content:center;
display: grid;
	grid-template-areas: "img1 img2 img3"
		"img4 img5 img6";
	cursor: pointer;
	


	
}

.card-item{
	
position: relative;
margin: 20px;
	
}



.card-item:hover .tour-img img{

border-radius: 40px;

opacity: .7;
}

.tour-img{
/*  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
cursor: pointer;
border-radius: 40px;
font-size: 10%;
	padding: 0px;
		background: #1e1e1e;*/

background: #1e1e1e;
	
	border-radius: 40px;

 
	
}

.card-item:hover .grid-item__text{
	opacity: 1;
}

.card-item:hover .grid-text{
	opacity: 1;
}

.card-item:hover .info{
	opacity: 1;
}



.tour-img img{
display: block;
transition: opacity .6s linear;
}

/*.tour-img:hover{
opacity: .5;
	border-radius: 40px;
	 background: #1e1e1e;
	
}*/


/*.card-text{
	font-family: 'Roboto';
font-style: normal;
	position: absolute;
	color: #fff;
	font-weight: 500;
	font-size: 35px;
	width: 270px;
height: 90px;
	line-height: 122%;
	padding-left: 50px;
		padding-top: 50px;
	
	align-content: center;
}*/

.grid-item__text{
color: #fff;
	width: 111px;

height: 86px;
	margin-left: 50px;
	font-weight: 500;
	font-size: 35px;
	text-align: center;
	opacity: 0;
	
	position: absolute;
	top: 20%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -20%, 0);
	
	transition: opacity .3s linear;
}

.grid-text{
color: #fff;
	width: 111px;
height: 86px;
	margin-left: 50px;
	font-weight: 400;
	font-size: 17px;
	text-align: center;
	opacity: 0;
	
	position: absolute;
	top: 43%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -43%, 0);
	
	transition: opacity .3s linear;
}

.info{
	color: #fff;
	width: 60%;
	font-weight: 700;
	font-size: 23px;
	text-align: center;
	opacity: 0;
	
	position: absolute;
	top: 20%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, 1220%, 0);
	
	transition: opacity .1s linear;
	text-decoration: none;
	transition: color .3s linear;
}



/*.info:hover{

	color: #fff; 
    background: #286562;
	border-radius: 50px;
}*/

.sec-header{
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;

	text-align: center;
}

.title{
font-weight: 700;
font-size: 59px;
line-height: 124%;
	color: #1B1F2B;
	

}

.sec-text{


width: 400px;
	height: 90px;
font-weight: 400;
font-size: 20px;
	margin-top: 30px; 
	margin: auto;
	
	
	color: #A6A6A6;

}



.container form .user-details{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
margin-top: 100px;
	
}

form .user-details .input-box{	
margin: 20px 0 12px 0;
width:  calc(100% / 2 - 20px);

}


.user-details .input-box .details{
	display: flex;
 font-weight: 400;
	margin-bottom: 5px;
	
	
}


.user-details .input-box  input{
	
width: 440px;
height: 68px;
outline: none;
	border: 1px solid #F4F0E9;
border-radius: 10px;

	padding-left: 15px;
font-size: 16px;
	

}

form .adult .adult-title{
		display: flex;
font-weight: 400;
font-size: 20px;
	margin-top: 33px;
	margin-right: 254px;

}

form .adult .category{
	display: flex;
	width: 13%;
	justify-content: space-between;
	margin: 14px 0;
	margin-right: 254px;
}

.adult .category label{
	display: flex;
	align-items: center;
}

.adult .category .dot{
	height: 18px;
	width: 18px;
	
	border-radius: 50%;
	margin-left: 11px;
	transition: all .3s ease;
	
	
}

.radio-sc{
	
		width: 26px;
height: 26px;
	cursor: pointer;
}

/*#dot-1:checked ~ .category label .one, #dot-1:checked ~ .category label .two{
	border-color:  #1B1F2B;
	background: #1B1F2B;
}

form input[type="radio"]{
	
	display: none;
}*/

.check-box{
display: flex;
	width: 100%;
	




	
}
.gray{
	font-weight: 400;
font-size: 17px;
	color: #A6A6A6;
	
}

.black{
font-weight: 400;
font-size: 17px;
	color:  #1B1F2B;
	position: relative;
	transition: color .1s linear;
}
.black:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    
    background-color: black;
    opacity: 0;
    
    position: absolute;
    top: 85%;
    left: 0;
    z-index: 1;
     
    transition: color .1s linear;
}

.black:hover:after {
      display: block;
 opacity: 1;
    
}

.check{
	
	width: 26px;
height: 26px;
	cursor: pointer;

}

/*label,
textarea {
	width: 970px;
height: 90px;
margin-top: 33px;
  
}
textarea {
	align-content: center
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: flex;
    margin-bottom: 10px;
	
}*/



label {
	margin-top: 33px;
    display: flex;
    margin-bottom: 10px;
	
}

textarea {
	width: 945px;
	height: 154px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
   border: 1px solid #F4F0E9;
    box-shadow: 1px 1px 1px #999;
}

.container-com{
	display: flex;
	align-items:center;
	margin-top: 33px;


	
}




.button-1{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
cursor: pointer;
width: 235px;
height: 58px;

color: #fff;
border: 1px solid #F4F0E9;
background: #286562;
border-radius: 10px;
font-weight: 400;
font-size: 20px;


}


.button-2{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
color: #286562;
width: 235px;
height: 58px;
	font-weight: 400;
font-size: 20px;
cursor: pointer;

border: 1px solid #F4F0E9;
background: #E0F0E5;
border-radius: 10px;

	margin: 30px;

}

a{
	
		text-decoration: none;
}



.title-tit{
	
	width: 529px;
height: 146px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 59px;
line-height: 124%;
	margin: auto;

text-align: center;
}



.sup-titti{
width: 418px;
height: 56px;
font-weight: 400;
font-size: 20px;
	margin-top: 30px; 
	margin: auto;
	text-align: center;
	
	
	color: #A6A6A6;
}


.titt{
	
	margin-top: 135px;
}




.select-down .down-box .down-details{
	display: flex;
 font-weight: 400;
	margin-bottom: 5px;
margin-top: 20px;
margin-left: 5px;


}

 .select-down .down-box select {
	 left: 5px;
width: 460px;
height: 74px;
outline: none;
	border: 1px solid #F4F0E9;
border-radius: 10px;

	padding-left: 15px;
position: relative;
font-size: 16px;

}

.box-0{
	display: flex;
flex-direction: row;
align-items: flex-start;
width: 1170px;
height: 675px;
	

border: 2px;
margin: auto;
}

.box{
width: 570px;
height: 673px;;
border: 2px;
margin-top: 100px;
border: 2px solid #fff;
position: absolute;
	
}

.box-2{
width: 490px;
height: 288px;
border: 2px;
margin: 40px 40px 40px;
}

.box-text{
width: 490px;
height: 252px;
font-weight: 700;
font-size: 23px;
line-height: 122%;
color: #1B1F2B;	

}


.box-3{
display: flex;
flex-wrap:wrap;
width: 490px;
height: 170px;
border: 2px;
margin-top: 184px;


}

.box-4{
display: flex;
flex-wrap:wrap;
width: 300px;
height: 43px;
border: 2px;
margin-top: 80px;
}


.mariya{
width: 415px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;

}

.vdali{
width: 415px;
height: 24px;
font-weight: 400;
font-size: 17px;
line-height: 142%;	
color: #A6A6A6;

}


.img-mariya{

	margin-top: 80px;
	margin-left: 110px;
	border-radius: 100px;
}

.box-5{

width: 570px;
height: 673px;
border: 2px solid #fff;
margin-left: 600px;
margin-top: 100px;
position: static;
	


}
.box-text2{
width: 490px;
height: 448px;	
font-weight: 700;
font-size: 23px;
line-height: 122%;

}
.box-6{
width: 490px;
height: 448px;
margin: 40px 40px 40px;
border: 2px ;

}

.box-7{
display: flex;
flex-wrap:wrap;
width: 490px;
height: 135px;
border: 2px ;




}
.box-8{
display: flex;
flex-wrap:wrap;
width: 300px;
height: 43px;
border: 2px ;
margin-top: 50px;
}
.pavel{
width: 415px;
height: 43px;
font-weight: 500;
font-size: 35px;
}

.gor{
width: 415px;
height: 24px;
font-weight: 400;
font-size: 17px;
color: #A6A6A6;
}
.img-pavel{
	margin-left: 111px;
	margin-top: 45px;
    border-radius: 100px;
}


.title-hed{
width: 723px;
height: 73px;
font-weight: 700;
font-size: 59px;
line-height: 124%;
margin-left: 300px;
margin: auto;
	
}
.sup-hed{
width: 418px;
height: 56px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
margin: auto;
color: #A6A6A6;
text-align: center;
margin: auto;
	
}

.hed{	
margin-top: 200px;
}

.box-bor{
margin: auto;
flex-direction: column;
align-items: flex-start;
justify-content: center;
width: 1920px;
height: 963px;
margin-top:100px; 
}

.imgbox{	
margin: 10px;
position: relative;
}
bar-box4{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
}

bar-box1{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
}

.bar-box2{
display: flex;
flex-direction: row;
align-items: flex-start;
}


/*-7???*/

.title-shapka{
width: 615px;
height: 73px;
font-weight: 700;
font-size: 59px;
line-height: 124%;
margin-left: 300px;
margin: auto;
	
}
.sup-shapka{
width: 418px;
height: 56px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
margin: auto;
color: #A6A6A6;
text-align: center;
margin: auto;
	
}

.box-story{
	
	display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
column-gap: 100px;
border: 0px solid;
width: 1170px;
height: 2065px;
	margin: auto;
	margin-top: 135px;

}

.title-story{
width: 615px;
height: 73px;

font-weight: 700;
font-size: 59px;
line-height: 124%;
text-align: center;
color: #1B1F2B;	

}

.titleStorySup{
width: 418px;
height: 56px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
text-align: center;
color: #A6A6A6;
}

.box-TitleStory{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
column-gap:30px;
border: 0px solid;
width: 615px;
height: 159px;
	margin: auto;


	
}


.boxStoryImg{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
grid-row-gap: 50px;
border: 0px solid;
width: 1170px;
height: 1800px;
margin-top: 100px;
position: relative;

}

.boxtext{
display: flex;
flex-direction: column;
align-items: flex-start;
column-gap: 37px;
border: 0px solid;
padding: 60px 0px 0px 60px;
height: 505px;
left: 0px;
right: 0px;
top: 0px;
position: absolute;

}


.imgStory{
border-radius: 50px;


}

.boxtextTitle{
	
width: 554px;
height: 43px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
color: #fff;
}

.boxtextSup{
width: 554px;
height: 224px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
color: #fff;
}

.boxSoft{
 display: flex;
flex-direction: row;
justify-content: space-between;

padding: 0px 10px 10px;
border: 0px solid;
position: absolute;
height: 88px;
left: 0px;
right: 0px;
bottom: 0px;



}

.boxSoft2{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
column-gap: 15px;
border: 0px solid;
width: 159px;
height: 28px;
margin-left: 45px;
margin-top: 10px;


}

.boxSoft3{
	
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
column-gap:35px;
border: 0px solid;
width: 322px;
height: 28px;
	margin-right: 50px;
	margin-top: 10px;
	

}





.SAS{
	
width: 120px;
height: 28px;
font-weight: 700;
font-size: 23px;
line-height: 122%;
color: #fff;
}

.sotSeti{
width: 90px;
height: 28px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
color: #fff;
position: relative;
}
.sotSeti1{
width: 90px;
height: 28px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
color: #fff;
position: relative;
}


.sotSeti1:after {
    content: "";
    display: block;
    width: 110%;
    height: 2px;
    
    background-color: #fff;
    opacity: 0;
    
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
     
    transition: color .1s linear;
}


.sotSeti1:hover:after {
    display: block;
 opacity: 1;
    
}


.sotSeti:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #fff;
    opacity: 0;
    
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
     
    transition: color .1s linear;
}


.sotSeti:hover:after {
    display: block;
 opacity: 1;
    
}


.boxStoryimg2{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
column-gap: 50px;	
position: relative;
	
}
.boxtext1{
	display: flex;
flex-direction: column;
align-items: flex-start;
column-gap: 37px;
border: 0px solid;
	padding: 60px 0px 0px 60px;
height: 505px;
left: 0px;
right: 0px;
top: 0px;
position: absolute;

}

.boxStoryimg3{
	
	display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
column-gap: 50px;	
position: relative;
}

.boxtext2{
		display: flex;
flex-direction: column;
align-items: flex-start;
column-gap: 37px;
border: 0px solid;
	padding: 60px 0px 0px 60px;
height: 505px;
left: 0px;
right: 0px;
top: 0px;
position: absolute;

	
}


.sectionFTG{
margin-top: 135px;
}



.box-777{
	display: flex;
flex-direction: row;
align-items: center;
margin: auto;

	width: 771px;
height: 370px;
}

.imgFooter{
	border-radius: 50px;
	
}

.box-666{
width: 371px;
height: 86px;
font-weight: 500;
font-size: 35px;
line-height: 122%;
color: #1B1F2B;

margin-left: 30px;
top:40%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -40%, 0);
}

.box-555{
width: 364px;
height: 56px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
color: #A6A6A6;

margin-top: 20px;
	
	
}

.rrtf{
	width: 364px;
height: 56px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
color: #1B1F2B;
position: relative;	
}

.rrtf:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    
    background-color: black;
    opacity: 0;
    
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1;
     
    transition: color .1s linear;
}

.rrtf:hover:after {
    display: block;
 opacity: 1;
    
}

.box-333{
	display: flex;
flex-direction: row;

align-items: center;
padding: 0px;

width: 1920px;
height: 88px;

	border: 0px solid black;
	margin-top: 135px;
	
}

.box-888{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
grid-row-gap: 214px;
border: 0px solid black;
width: 190px;
height: 28px;
margin: auto;
color: #A6A6A6;

}

.box-999{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
width: 419px;
height: 28px;
border: 0px solid black;
margin: auto;
	
}

.insimg{
margin-left: 25px;
}

.gdgfd{
margin-left: 10px;
font-weight: 400;
font-size: 20px;
line-height: 142%;
color:  #1B1F2B;
	position: relative;
  transition: color .1s linear;
}

.gdgfd:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: black;
    opacity: 0;
    
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
     
    transition: color .1s linear;
}

.gdgfd:hover:after {
    display: block;
 opacity: 1;
    
}

/*НА ЭТОМ ВСЁ Я ДЭД*/ 